body,div,input,li,ul,ol,p,h1, h2, h3, h4, h5, h6,nav{  padding: 0 0;margin: 0 0;  }
li,ul,ol{list-style: none;}
.kongge{
    text-indent: 2em;
}
.navbar{
    width: 100%;
    position:fixed;
    z-index: 1;
}
.section{
    width: 100%;
    text-align: center;
}
/*????????*/
.banenr{
    overflow: hidden;
    background: url("../image/banner_02.jpg") no-repeat center/cover;
    /*border: 1px solid green;*/
}
.mark{
    color: white;
    /*padding: 0 3%;*/
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
}
/*.white-cicril{*/
/*width: 100px;*/
/*height: 100px;*/
/*margin-top: 10px;*/
/*border-radius: 50%;*/
/*background-color: rgba(255,255,255,0.3);*/
/*}*/
/*.mark>div:nth-of-type(2){*/
/*font-size: 47px;*/
/*margin-top: 20px;*/
/*/!*line-height: 150%;*!/*/
/*}*/
/*.mark>div:nth-of-type(3){*/
/*font-size: 22px;*/
/*margin-top: 20px;*/
/*margin-bottom: 60px;*/
/*}*/
.mark>div:nth-of-type(4){
    font-size: 14px;
    line-height: 30px;
}
.banner-B{
    /*border: 1px solid red;*/
}
.imgC{
    height: 126px;
    margin-top: 2px;
    color: white;
    /*border: 1px solid red;*/
    /*background: url("../image/1.1_09.png") no-repeat center/contain;*/
}
.imgC>p:nth-of-type(1){
    font-size: 15px;
    margin-top: 20px;
}
.imgC>p:nth-of-type(2){
    font-size: 12px;
}
/*????????????*/
/*????????*/
.T{
    position: relative;
    /*border: 1px solid #7E7E7E;*/
}
/*.T::before,.T::after{*/
/*content: "";*/
/*height: 1px;*/
/*width: 50%;*/
/*position: absolute;*/
/*top: 50%;*/
/*background-color: #7E7E7E;*/
/*}*/
/*.T::before{*/
/*left: 100%;*/
/*}*/
/*.T::after{*/
/*right: 100%;*/
/*}*/
/*.T>span:nth-of-type(1){*/
/*font-size: 30px;*/
/*}*/
/*.T>span:nth-of-type(2){*/
/*font-size: 16px;*/
/*}*/
.section-two{
    overflow: hidden;
    /*background: url("../image/2.1background_21.jpg") no-repeat center/cover;*/
    /*border:1px solid red;*/
}
.section-two2>div{
    /*border: 1px solid red;*/
}
.icon1{
    /*height: 100%;*/
    /*padding: 0 4%;*/
    border: 0;
    box-sizing: border-box;
    background-color: #dedede;
    background-color: white;
}
.greyColor{
    font-size: 14px;
}
.jia{
    font-size: 60px;
}
.section-two2>div:hover .icon1{
    -webkit-transition: all 0.5s linear;
}
.section-two2>div:hover{
    background-color: white;
    -webkit-transition: all 0.1s linear;
}
.section-two2>div:hover{
    box-shadow: 10px 10px 5px #888888;
    border: none;
    -webkit-transition: all 0.1s linear;
}
.section-two2>div:hover .icon{
    font-size: 7.5rem;
    -webkit-transition: all 0.3s linear;
}
.section-two2>div:hover .zhutiSize{
    display: none;
}
.section-two2>div:hover .greyColor{
    color: #677078;
}

/*?????????*/
/*?????????*/
.contact-bannenr{
    /*border: 1px solid gray;*/
    /*background: url("../image/6.2background_113.png") no-repeat center/cover;*/
}
.imgContainer{
    /*height: 160px;*/
    overflow: hidden;
    /*border: 1px solid black;*/
}
.imgContainer{
    margin-left: 0;
}
.contact-imgC{
    /*margin-left: 4%;*/
    position: relative;
}
.contact-imgC>img{
    position: absolute;
}
/*??X?????*/
.oneimgX{
    transform:rotateX(0deg);
    -webkit-transition: all 1s linear;
}
.twoimgX{
    transform:rotateX(90deg);
    -webkit-transition: all 1s linear;
}
.imgX:hover .oneimgX{
    transform:rotateX(180deg);
    -webkit-transition: all 1s linear;
}
.imgX:hover .twoimgX{
    transform:rotateX(0deg);
    -webkit-transition: all 1s linear;
}
/*??Y?????*/
.oneimg{
    /*transform:rotateY(0deg);*/
    -webkit-transition: all 1s linear;
}
.twoimg{
    transform:rotateY(90deg);
    -webkit-transition: all 1s linear;
}
.imgY:hover .oneimg{
    transform:rotateY(180deg);
    -webkit-transition: all 1s linear;
}
.imgY:hover .twoimg{
    transform:rotateY(0deg);
    -webkit-transition: all 1s linear;
}
/*??????*/

.contact-B{
    overflow: hidden;
    /*border: 1px solid black;*/
}
.contact-L{
    overflow: hidden;
}
.contact-L>div{
    overflow: hidden;  padding: 0 0;
}
.contact-L>div .col-md-6{
    padding: 0 0;
}
.allContact>div{
    overflow: hidden;
}
.fuwu>div>button{
    color: white;
    border: none;
    border-radius: 4%;
}
.fuwu>div>button{
    border: none;
    background-color: #5BA1E5;
}
.foot{
   font-size: 14px;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    bottom:0;
    background-color: #707070;
}
/*??????????????*/
.Sbanenr>div{
    overflow: hidden;
}
.Sbanenr>p{
    font-size: 18px;
}


.SbannerICON>div>p:nth-of-type(1){
    font-size: 45px;
    color: #DE1F45;
    border-radius: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition:all 0.7s;
    transition: all 0.7s;
}
.SbannerICON>div>p:nth-of-type(1):hover{
    -webkit-animation:downBtn 0.2s linear infinite;
    -o-animation:downBtn 0.2s linear infinite;
    animation:downBtn 0.2s linear infinite;
    box-shadow: 5px 5px 10px #A0A0A0;
}
.SbannerICON>div>p:nth-of-type(2){
    font-size: 13px;
    white-space: nowrap;/*?????????????*/
    overflow: hidden;/*????????*/
    text-overflow: ellipsis;/*???????*/
}
/*.PhoneB{*/
/*height: 250px;*/
/*}*/
.section-six{
    background: url("../image/contactIMG .jpg") no-repeat center/cover;
}

/*--------------------------------------cry---------------------------------*/
.inner{
    width: 100%;
    padding: 0 10%;
    text-align: center;
}
/*���ñ���*/
.section .section-title{
    text-align: center;
    padding-top: 8%;
}
.section .section-title h2{
    font-size: 18px;
}
.section .section-title p{
    font-size: 14px;
    text-transform: uppercase;
}
/*���㰸��չʾ*/
.pc{display: none}
.cell{display: block;}
.section-excellent{
    overflow: hidden;
    background-image: url("../image/excellent_bg.png");
    background-size: 375px auto;
}
.section-excellent .slide{ width: 100%;}
.section-excellent .slide .fp-tableCell{height: 520px!important;padding-bottom: 30%;}
.section-excellent .slide .download{height: 66px}
.section-excellent .download .logo{height: 100%}
.section-excellent .download .logo img{height: 100%}
.section-excellent .download>a{
    font-size: 14px;
    background: #6ec8ed;
    border: 1px solid #f9a976;
    color: #ffffff;
    height: 38px;
    line-height: 38px;
    letter-spacing: 2px;
    border-radius: 19px;
    margin-top:14px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition:all 0.7s;
    transition: all 0.7s;
}
@keyframes downBtn {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}/**/
.section-excellent .download>a:hover{
    -webkit-animation:downBtn 0.2s linear infinite;
    -o-animation:downBtn 0.2s linear infinite;
    animation:downBtn 0.2s linear infinite;
    box-shadow:2px 2px 20px #000 ;
}
.section-excellent .detailTxt{
    height: 22%;
    padding-top: 20px;
    line-height: 24px;
}
.section-excellent .detailTxt h3{
    font-size:20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding: 0 20px;
}
.section-excellent .detailTxt p:nth-child(2){  font-size: 16px;  }
.section-excellent .detailTxt p:nth-child(3){  font-size: 14px;  }
.section-excellent .slide .pic{
    height: 60%;
    position: relative;
}
.section-excellent .slide .pic img{
    width: 90%;
    position: absolute;
    left: 5%;
    top: 20%;
}
/*.section-excellent .slide .fp-tableCell{height: 100% !important}
.section-excellent .slide .fp-tableCell>.row{height: 500px}
.section-excellent .slide .fp-tableCell>.row .col-lg-6{height: 100%}*/

/*��������*/
.section-news .section-title{padding-top: 5%}
.section-news>p{
    font-size: 14px;
    line-height: 38px;
    padding-top:14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.section-news>.row{
    padding: 20px 0;
    height:640px;
}
.section-news>.row .col-lg-3{height: 100%}
.section-news>.row .logo{height: 15%}
.section-news>.row .logo img{height: 100%;width: auto}
/*.section-news>.row .text{ height: 30px;line-height: 30px;}*/
.section-news>.row .text{height: 8%}
.section-news>.row .text p{
    padding: 8px 0;
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.section-news>.row .pic{
    height: 60%;
    width: 260px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.section-news>.row .shaow{
    width: 86%;
    height: 36.11%;
    position: absolute;
    bottom: 13.89%;
    left:7%;
    background: url("../image/news_shadow.png") no-repeat center/contain;
}

/*�˽������*/
.section-understand .middle{
    color: #000;
    height: 500px;
    padding-top: 1px;
}
.section-understand .middle>h4{
    padding-top: 1.5%;
    width: 25.2%;
    height: 14.42%;
    font-size:30px;
}
.section-understand .middle>.row{
    height: 78%;
}
.section-understand .middle .col-lg-6{height: 100%;  }
.section-understand .middle p{  font-size:14px;line-height:30px;}
.section-understand .middle .left{  padding: 2% 4%;  }
.section-understand .middle .left .h3{
    font-size: 26px;
    line-height:30px;
    margin-bottom: 30px;
}
.section-understand .middle .right{padding: 0 0;}
.section-understand .middle .right .h3{
    margin-top: 0;
    font-size: 16px;
}
.section-understand .middle .right .row1{
    height:46.9%;
    padding: 2% 3%;
    margin: 0 0 3% 6px;
}
.section-understand .middle .right .row2{
    height:48%;
    margin: 0 0;
}
.section-understand .middle .col-lg-4{padding: 0 0 0 6px;height: 100%;}
.section-understand .middle .col-lg-4>div{
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    padding: 4%;
}
.section-understand .bot{
    color: #ffffff;
    background: #2c2c2c;
    height: 210px;
    text-align: center;
}
.section-understand .bot .box{
    padding-top: 1%;
    height: 100%;
    width: 45.83%;
}
.section-understand .bot .col-lg-6{
    height: 80%;
}
.section-understand .bot .col-1{
    background: url("../image/5.3_103.png") no-repeat center/contain;
}
.section-understand .bot .col-2{
    background: url("../image/5_01.jpg") no-repeat center/contain;
}
/*.section-understandBox{background: url("../image/aboutus_bg.jpg") no-repeat center 80px/cover;}*/
.section-understand.pc .fp-slides{margin-top: -6%;}
.section-understand.cell{
    height: 100%;
    /*background: rgba(0,0,0,0.5);
    color: #ffffff;*/
}
.section-understand.cell .text>h3{
    padding: 15px 10% 5px;
    width: 100%;
    font-size: 18px;
}
.section-understand.cell .text-detail1>.h4{
    margin: 20px 0 25px;
    font-size: 15px;
    font-weight: normal;
}
.section-understand.cell .section-title{ padding-top: 20%;}
.section-understand.cell .text-detail2{padding-top: 15px}
.section-understand.cell .text-detail2 p:nth-child(1){font-size: 16px;}
.section-understand.cell .text-detail2 p:nth-child(2){font-size: 12px;line-height: 32px;}
.section-understand.cell .text-detail3{
    font-size: 12px;
    padding-top: 10px;
    line-height: 23px;
}
.section-understand.cell p,.section-understand.cell h3{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/*�ײ���ѯ*/
.phone-talk{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height:50px;
    padding: 2px 5px;
    background-color: rgba(68,175,233,0.6);
}
.phone-talk li{
    border-right:1px solid #ffffff;
    list-style: none;
}
.phone-talk a{
    color: red;
    text-decoration: none;
    font-size:13px;
}
.right-phone{
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50%;
    right: 0;
    border-radius:50%;
    background: #43d451;
    text-align:center;
    line-height:50px;
}
.right-phone img{
    width:50%;
}

