
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494854008212'); /* IE9*/
  src: url('iconfont.eot?t=1494854008212#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494854008212') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494854008212') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494854008212#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e63b"; }

.icon-anzhuo:before { content: "\e610"; }

.icon-iconoa:before { content: "\e601"; }

.icon-dengpao:before { content: "\e600"; }

.icon-jiantouxiangxia:before { content: "\e624"; }

.icon-html:before { content: "\e6c6"; }

.icon-shujuku:before { content: "\e682"; }

.icon-app1:before { content: "\e602"; }

.icon-arrowup3:before { content: "\e606"; }

.icon-vralternation:before { content: "\e65a"; }

.icon-pingguo:before { content: "\e79e"; }

.icon-xitong:before { content: "\e616"; }

.icon-donggandanche:before { content: "\e607"; }

.icon-xitong1:before { content: "\e502"; }

